<template>
    <div>
        <button @click="count++">value: {{count}}</button>
    </div>
</template>

<script>
    export default {
        name: 'ButtonCounter',
        data() {
            return {
                count: 0
            }
        }
    }
</script>

<style scoped>

</style>