<template>
    <div>
        <input type="text" v-model="question">
        <p v-bind:class="avtive ? 'activeClass' : 'inActiveClass'">{{question}}</p>
        <div :style="{
            width:100,
            height:100,
            backgroundColor: selected ? 'red':'green',
            display:'inline-block',
        }">
            <p>test class binding</p>
        </div>
    </div>

</template>

<script>
    export default {
        name: "FormInput",
        data() {
            return {
                question: "",
                avtive: true,
                selected: false
            }
        }
    }
</script>

<style scoped>
    .activeClass {
        color: green;
    }

    .inActiveClass {
        color: grey;
    }

</style>