<template>
    <div>
        <input type="text" v-model="b1" placeholder="b1">
        <br/>
        <input type="text" v-model="b2" placeholder="b2">
    </div>
</template>

<script>
    export default {
        name: "Step2",
        methods: {
            getValue() {
                return {
                    b1: this.b1,
                    b2: this.b2
                }
            }
        },
        data() {
            return {
                b1: '',
                b2: ''
            }
        }
    }
</script>

<style scoped>

</style>