<template>
    <div>
        <input type="text" v-model="cc.c1" placeholder="c1">
        <br/>
        <input type="text" v-model="cc.c2" placeholder="c2">
    </div>
</template>

<script>
    export default {
        name: "Step3",
        props: [
            'cc'
        ]
    }
</script>

<style scoped>

</style>