<template>
    <div>
        <input @change="onChange()" type="text" v-model="a1"  placeholder="a1">
        <br/>
        <input @change="onChange()"  type="text" v-model="a2" placeholder="a2">
    </div>
</template>

<script>
    export default {
        name: "Step1",
        props: ['value'],
        methods: {
            onChange() {
                this.$emit('input', {
                    a1: this.a1,
                    a2: this.a2
                })
            }
        },
        data() {
            return {
                a1: '',
                a2: ''
            }
        }
    }
</script>

<style scoped>

</style>