<template>
    <div id="app">
        <p>{{name}}</p>
        <p v-once>{{reversedMessage()}}</p>
        <!--<p>{{reversedMessage}}</p>-->
        <p v-once>{{priceFormat()}}</p>
        <img :src="imgSelect" style="width: 100px; height: 100px; object-fit: contain">
        <br/>
        <button @click="changeImage">change image</button>
        <br/>
        <button @click="click">click</button>
        <br/>
        <h1 v-show="ok">Hello!</h1>
        <br/>
        <FormInput/>
        <input type="number" v-model.number="text" placeholder="nhap de">

        <br/>
        <br/>
        <br/>

        <div class="cha">
            <p>Step {{step}}</p>
            <div v-show="step === 1">
                <Step1 v-model="model.step1"/>
            </div>
            <div v-show="step === 2">
                <Step2 ref="step2"/>
            </div>
            <div v-show="step === 3">
                <Step3 :cc.sync="model.step3"/>
            </div>
            <button v-show="step<3" @click="nextStep" style="margin-top: 10px">Next</button>
            <button @click="submit" style="margin-top: 10px">Submit</button>
        </div>

        <br/>

        <ul v-if="arrs.length">
            <li v-for="(arr, index) in arrs" v-bind:key="arr.id">
                <div style="display: flex; flex-direction: row;  ">
                    <p :class="index == 0 ?'text0' : '' ">{{ arr.name }}</p>
                    <button @click="removeItem(arr)" style="margin-left: 10px">Xoa</button>
                </div>

            </li>
        </ul>
        <p v-else>No todos left!</p>
        <br/>

        <form v-on:submit.prevent="addNewTodo">
            <label for="new-todo">Add a todo</label>
            <br/>
            <input v-model="newTodoText" id="new-todo" placeholder="E.g. Feed the cat">
            <br/>
            <button>Them</button>
        </form>

        <br/>

        <div v-for="(value, name, index) in object" :key="name">
            {{ index }}. {{ name }}: {{ value }}
        </div>

        <br/>

        <div v-for="it in formCheckbox" :key="it.text" style="display: inline-block">
            <div style="display: inline-block">
                <input type="checkbox" v-model="it.value">
                <p>{{it.text}}</p>
            </div>
        </div>
        <br/>

        <button @click="getXeSelected">LAY XE DA CHON</button>

        <ButtonCounter/>

        <p> {{ info }} </p>
    </div>
</template>

<script>
    import FormInput from './components/FormInput';
    import Step1 from './components/Step1';
    import Step2 from './components/Step2';
    import Step3 from "./components/Step3";
    import ButtonCounter from './components/ButtonCounter';
    import axios from 'axios';

    export default {
        name: 'App',
        components: {
            FormInput,
            Step1,
            Step2,
            Step3,
            ButtonCounter
        },
        data() {
            return {
                step: 1,
                model: {
                    step1: null,
                    step2: null,
                    step3: {
                        c1: 'c1',
                        c2: 'c2'
                    }
                },
                name: 'Hoang Ngoc Thang',
                arrLinks: [
                    'https://img.a.transfermarkt.technology/portrait/big/418560-1632685669.jpg',
                    'https://image.thanhnien.vn/1024/uploaded/quocviet/2021_08_25/mbappe/00mbappe_rlrh_ewtf.jpeg',
                    'https://bongdadoisong.vn/uploads/news/2021/08/07/e8iosgdwqaclmb7.jpg',
                    'https://vnn-imgs-f.vgcloud.vn/2021/09/11/12/ronaldo-mu-1.jpg',
                    'https://theshillongtimes.com/wp-content/uploads/2020/04/Nemar.jpg'
                ],
                imgSelect: 'https://img.a.transfermarkt.technology/portrait/big/418560-1632685669.jpg',
                price: 1000,
                ok: true,
                text: '',

                newTodoText: '',
                arrs: [
                    {
                        id: 1,
                        name: "di cho"
                    },
                    {
                        id: 2,
                        name: "hoc bai"
                    },
                    {
                        id: 3,
                        name: "rua bat"
                    }
                ],
                object: {
                    title: 'How to do lists in Vue',
                    author: 'Jane Doe',
                    publishedAt: '2016-04-10'
                },

                formCheckbox: [
                    {text: "Xe đạp", value: 0},
                    {text: "Xe máy", value: 0},
                    {text: "Xe ô tô", value: 0},
                ],
                toggle: false,

                info: null
            };
        },
        mounted() {
            axios
                .get('https://api.coindesk.com/v1/bpi/currentprice.json')
                .then(response => {
                        console.log("vc:", response);
                        this.info = response;
                    }
                )
        },

        methods: {
            reversedMessage: function () {
                console.log('vao1');
                return this.name.split('').reverse().join('')
            },
            priceFormat: function () {
                console.log('vao2');
                return this.price + 'VND';
            },
            click: function () {
                console.log('vao3');
                alert('a');
            },
            changeImage: function () {
                console.log('vao4');
                let index = Math.floor(Math.random() * 5);
                console.log(this.arrLinks[index]);
                this.imgSelect = this.arrLinks[index];
            },
            nextStep: function () {
                console.log('vao5');
                this.step = this.step + 1;
            },
            submit: function () {
                console.log('vao6');
                console.log("aaa", this.model.step1)
                // console.log(this.$refs.step2.getValue())
                // console.log(this.model)
            },
            addNewTodo: function () {
                console.log('vao7');
                this.arrs = this.arrs.concat({
                    id: this.arrs.length + 1,
                    name: this.newTodoText
                });
                this.newTodoText = "";
            },
            removeItem: function (arr) {
                console.log('vao8');
                const newArrs = this.arrs.filter(e => e.id != arr.id);
                this.arrs = newArrs;
                this.newTodoText = "";
            },
            getXeSelected: function () {
                console.log(this.formCheckbox.filter(e => e.value == 1))
            }
        },


        computed: {
            // reversedMessage: function () {
            //     console.log("vao5");
            //     return this.name.split('').reverse().join('')
            // }
        },
    }
</script>

<style>
    #app {
        font-family: Avenir, Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .cha {
        width: 500px;
        height: 200px;
        background-color: pink;
    }

    .text0 {
        color: red;
    }

</style>
