<template>
    <div class="container">
        <!--            <div class="row">-->
        <!--                <div class="bg-danger col">-->
        <!--                    1 of 2-->
        <!--                </div>-->
        <!--                <div class="bg-warning col-8">-->
        <!--                    2 of 2-->
        <!--                </div>-->
        <!--            </div>-->
        <!--            <div class="row">-->
        <!--                <div class="col-4 col-lg-6 col-sm-8" style="background-color: green">-->
        <!--                    1 of 3-->
        <!--                </div>-->
        <!--                <div class="col-4 col-lg-6 col-sm-8" style="background-color: pink">-->
        <!--                    2 of 3-->
        <!--                </div>-->
        <!--                <div class="col-4 d-none d-lg-block" style="background-color: yellow">-->
        <!--                    3 of 3-->
        <!--                </div>-->
        <!--            </div>-->
        <div class="row">
            <div class="col-3"
                 style="padding-top: 8px;
                 padding-bottom: 8px;
                 padding-right: 0;
                 padding-left: 0;">
                <h4 style="margin: 0">Chi nhánh</h4>
            </div>
            <div class="col-9"
                 style="display: flex;
                 padding-top: 8px;
                 padding-bottom: 8px;
                 flex-direction: row;
                 padding-right: 0;
                 padding-left: 0;">
                <div class="col-6">
                    <div class="wrap-input">
                        <img src="./assets/ic_search.png" class="ic-search">
                        <input type="text" placeholder="Tên chi nhánh" class="input">
                    </div>
                </div>
                <div class="col-6"
                     style="display: flex;
                        justify-content: flex-end;
                       align-items: center;
                      flex-direction: row">
                    <div class="button-add">
                        <p class="text-button-add">Thêm mới</p>
                    </div>
                    <div class="button-add-cloum-table">
                        <p class="text-button-add">---</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3"
                 style="padding-left: 0;
                        padding-right: 0;">
                <div class="view-status">
                    <p style="font-size: 16px; font-weight: bold">Trạng thái</p>
                    <div style="display: flex; flex-direction: row; align-items: center">
                        <input type="radio" style="width: 14px; height: 14px"/>
                        <p style="margin-bottom: 0; margin-left: 12px">Tất cả</p>
                    </div>
                    <div style="display: flex; flex-direction: row; align-items: center">
                        <input type="radio" style="width: 14px; height: 14px"/>
                        <p style="margin-bottom: 0; margin-left: 12px">Đang hoạt động</p>
                    </div>
                    <div style="display: flex; flex-direction: row; align-items: center">
                        <input type="radio" style="width: 14px; height: 14px"/>
                        <p style="margin-bottom: 0; margin-left: 12px">Ngừng hoạt động</p>
                    </div>
                </div>
            </div>
            <div class="col-9"
                 style="padding-left: 0;
                        padding-right: 0">
                <table>
                    <tr>
                        <td>
                            <div>
                                <p>Company</p>
                            </div>
                        </td>
                        <td>
                            <div>
                                <p>Company</p>
                            </div>
                        </td>
                        <td>
                            <div>
                                <p>Company</p>
                            </div>
                        </td>
                        <td>
                            <div>
                                <p>Company</p>
                            </div>
                        </td>
                        <td>
                            <div>
                                <p>Company</p>
                            </div>
                        </td>
                        <td>
                            <div>
                                <p>Company</p>
                            </div>
                        </td>

                    </tr>
                    <tr>
                        <td>Alfreds Futterkiste</td>
                        <td>Maria Anders</td>
                        <td>Germany</td>
                        <td>Germany</td>
                        <td>Germany</td>
                        <td>Germany</td>
                    </tr>
                    <tr>
                        <td>Centro comercial Moctezuma</td>
                        <td>Francisco Chang</td>
                        <td>Mexico</td>
                        <td>Mexico</td>
                        <td>Mexico</td>
                        <td>Mexico</td>

                    </tr>
                    <tr>
                        <td>Ernst Handel</td>
                        <td>Roland Mendel</td>
                        <td>Austria</td>
                        <td>Austria</td>
                        <td>Austria</td>
                        <td>Austria</td>
                    </tr>
                    <tr>
                        <td>Island Trading</td>
                        <td>Helen Bennett</td>
                        <td>UK</td>
                        <td>UK</td>
                        <td>UK</td>
                        <td>UK</td>
                    </tr>
                    <tr>
                        <td>Laughing Bacchus Winecellars</td>
                        <td>Yoshi Tannamuri</td>
                        <td>Canada</td>
                        <td>Canada</td>
                        <td>Canada</td>
                        <td>Canada</td>
                    </tr>
                    <tr>
                        <td>Magazzini Alimentari Riuniti</td>
                        <td>Giovanni Rovelli</td>
                        <td>Italy</td>
                        <td>Italy</td>
                        <td>Italy</td>
                        <td>Italy</td>
                    </tr>

                </table>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'App2',
        components: {}
    }
</script>

<style scoped>
    .wrap-input {
        border: none;
        width: 100%;
        height: 40px;
        border-radius: 20px;
        /*border: 1px solid #ECE5F0;*/
        border: 1px solid grey;
        display: flex;
        flex-direction: row;
        align-items: center;
        overflow: hidden;
    }

    .ic-search {
        width: 24px;
        height: 24px;
        margin-left: 8px;
    }

    .input {
        padding-left: 12px;
        margin-left: 12px;
        flex: 1;
        height: 100%;
        border: none;
    }

    .wrap-input textarea:focus, .wrap-input input:focus {
        outline: none;
    }

    .button-add:hover {
        background-color: lightseagreen;
    }

    .button-add {
        display: flex;
        background-color: #008080;
        height: 30px;
        justify-content: center;
        align-items: center;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 16px;
        margin-right: 16px;
        border-radius: 5px;
    }

    .text-button-add {
        color: white;
        margin: 0
    }

    .button-add-cloum-table {
        display: flex;
        width: 30px;
        height: 30px;
        background-color: #008080;
        margin-left: 16px;
        margin-right: 16px;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
    }

    .button-add-cloum-table:hover {
        background-color: lightseagreen;
    }

    .view-status {
        display: flex;
        flex-direction: column;
        border: 1px solid grey;
        padding: 8px;
        margin: 8px;
    }

    /*bang ben trong*/
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>